.about-us {
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  background-color: #192144;
}

.about-us__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: #ff8d30;
  background-color: #192144;
}

.about-us__text--bold {
  font-weight: 700;
}
