.about-us {
  padding-bottom: 63px;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  background-color: #192144;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    z-index: -2;
    right: calc(50% + 47px);
    bottom: 220px;
    width: 1132px;
    height: 132px;
    border-radius: 20px;
    background-color: #141b3b;
  }

  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    left: calc(50% - 292px / 2 + 4px);
    bottom: 0;
    background: no-repeat 0 0;

    @include bg-image(292px, 352px, "about-mobile@1x.png");
  }
}

.about-us__wrapper {
  padding: 0 25px;
}

.about-us__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: #ff8d30;
}

.about-us__text {
  margin: 0 0 18px 0;
  padding: 0;

  &--bold {
    font-weight: 700;

    span {
      display: none;
    }
  }
}

.about-us__all {
  display: none;
}

@media (min-width: $tablet-width) {
  .about-us {
    margin-top: -140px;
    padding-top: 278px;
    padding-bottom: 68px;

    &::before,
    &::after {
      display: none;
    }
  }

  .about-us__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0 318px 0 0;

    &::before,
    &::after {
      content: "";
      position: absolute;
      z-index: -1;
    }

    &::before {
      left: -35px;
      top: -42px;
      width: calc(100% + 70px);
      height: 213px;
      background-color: #141b3b;
      border-radius: 20px;
    }

    &::after {
      right: -67px;
      top: 6px;
      background: no-repeat 0 0;

      @include bg-image(376px, 548px, "about-tablet@1x.png");
    }
  }

  .about-us__title {
    position: relative;
    margin: 0 0 39px -1px;
    font-size: 45px;
    line-height: 45px;
  }

  .about-us__text {
    &--normal {
      margin: 0 0 32px 0;
      font-size: 28px;
      line-height: 33px;
    }

    &--bold {
      margin: 0 0 26px 0;
      font-size: 21px;
      line-height: 25px;

      span {
        display: inline;
      }
    }
  }

  .about-us__all {
    display: block;
    margin-right: 26px;
  }
}

@media (min-width: $desktop-width) {
  .about-us {
    padding-top: 385px;
    padding-bottom: 163px;
  }

  .about-us__wrapper {
    padding: 0 638px 0 71px;

    &::before {
      left: 1px;
      top: -61px;
      width: 213px;
      height: 213px;
    }

    &::after {
      right: 0;
      top: -47px;

      @include bg-image(630px, 665px, "about-desktop@1x.png");
    }
  }

  .about-us__title {
    margin: 0 0 58px -1px;
  }

  .about-us__text {
    &--normal {
      margin: 0 0 38px 0;
    }

    &--bold {
      margin: 0 144px 84px 0;
    }
  }

  .about-us__all {
    align-self: flex-start;
    display: block;
    min-width: 274px;
    margin: 0;
  }
}
