.add-plan {
  padding-top: 28px;
  padding-bottom: 64px;
  background-color: #d4d9eb;
}

.add-plan__item {
  margin: 0 0 10px;
  padding: 22px 25px;
  border: none;
  background-color: #ffffff;
  border-radius: 10px;

  &--step2 {
    padding-bottom: 11px;
  }

  &--step3 {
    padding-bottom: 11px;
  }
}

.add-plan__title {
  margin: 0 0 31px;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: #1d2e5b;
}

@media (min-width: $tablet-width) {
  .add-plan {
    padding-top: 46px;
    padding-bottom: 118px;
  }

  .add-plan__title {
    margin: 0 0 52px;
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    letter-spacing: -0.1px;
    color: #1d2e5b;
  }

  .add-plan__item {
    margin: 0 0 40px;
    padding: 45px 44px;
    border-radius: 30px;

    &--step1 {
      padding-bottom: 55px;
    }

    &--step2 {
      padding-bottom: 53px;
      margin-bottom: 51px;//временно, не совпадает с первым
    }

    &--step3 {
      padding-bottom: 53px;
    }
  }
}

@media (min-width: $desktop-width) {
  .add-plan {
    //padding-top: 46px;
    padding-bottom: 123px;
  }

  .add-plan__title {
    //margin: 0 0 52px;
    padding: 0 0 0 70px;
    //font-weight: 700;
    //font-size: 36px;
    //line-height: 50px;
    //letter-spacing: -0.1px;
    //color: #1d2e5b;
  }

  .add-plan__item {
    margin: 0 0 44px;
    padding: 96px 160px 105px;
    border-radius: 60px;

    &--step1 {
      //padding-bottom: 105px;
    }

    &--step2 {
      //padding-bottom: 53px;
      margin-bottom: 45px;//временно, не совпадает с первым
    }

    &--step3 {
      //padding-bottom: 53px;
    }
  }
}
