.add-plan {
  padding-top: 28px;
  background-color: #d4d9eb;
}

.add-plan__item {
  margin: 0 0 10px;
  padding: 22px 25px;
  border: none;
  background-color: #ffffff;
  border-radius: 10px;

  &--step2 {
    padding-bottom: 11px;
  }
}

.add-plan__title {
  margin: 0 0 31px;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: #1d2e5b;
}
