.add-profile {
  color: #444444;
  background-color: #edeff6;
}

.add-profile__content-wrap {
  padding: 0 0 0 25px;
}

.add-profile__title {
  position: relative;
  margin: 50px 0 44px;
  padding-right: 120px;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: #ff8d30;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    top: -14px;

    @include bg-image(99px, 99px, "rates-mobile@1x.png");
  }
}

.add-profile__price-list {
  padding: 0 45px 0 0;
}

.add-profile__business-price {
  display: block;
  margin: 30px 0 29px;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  color: #192144;
  transition: $duration;

  &:hover {
    color: fade_out(#192144, 1 - 0.7);
  }

  &:active {
    color: fade_out(#192144, 1 - 0.3);
  }
}
