.alphabet {
  position: absolute;
  z-index: 10;
  left: -1px;
  bottom: -1px;
  transform: translateY(100%);
  display: none;
  flex-wrap: wrap;
  width: calc(100% + 2px);
  padding: 0 0 16px;
  background-color: #ffffff;
  box-shadow: 0 20px 50px 0 fade_out(#1d2e5b, 1 - 0.1);
  border-left: solid 1px #cbced9;
  border-right: solid 1px #cbced9;
  border-bottom: solid 1px #cbced9;
  border-radius: 0 0 10px 10px;
}

.choose-country .alphabet {
  position: static;
  flex-direction: column;
  align-items: flex-start;
  left: 0;
  bottom: 0;
  transform: none;
  width: 100%;
  padding: 0;
  background-color: #e2e5f2;
  box-shadow: none;
  border: none;
  border-radius: 0 0 20px 20px;
}

.alphabet__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 -1.1px 0 0;
  padding: 0;
  overflow: hidden;
}

.choose-country .alphabet__list {
  margin: 0 -0.1px 22px 1px;
  background-color: #ffffff;
  overflow: visible;
}

.alphabet__item {
  width: calc((100% + 5px) / 5);
  height: 42px;
  margin: -1px 0 0 -1px;
  padding: 11px 0 10px 2px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 1.4px;
  text-align: center;
  color: #1d2e5b;
  border: 1px solid #cbced9;

  &--active {
    background-color: #edeff6;
  }
}

.choose-country .alphabet__item {
  width: calc((100% + 5px) / 5);
  margin: -1px 0 0 -1px;
  border: 1px solid #cbced9;

  &--active {
    position: relative;
    z-index: 1;
    color: #ffffff;
    background-color: #1d2e5b;
    border: 1px solid #1d2e5b;
  }
}

.alphabet__btn {
  position: relative;
  left: -25px;
  display: block;
  width: calc(100% + 50px);
  min-height: 40px;
  font-weight: 700;
  font-size: 16.5px;
  line-height: 29.5px;
  letter-spacing: 0.5px;
  text-align: center;
  text-transform: uppercase;
  color: #1d2e5b;
  background-color: #d6daed;
  border: none;
  border-radius: 20px;
  transition: $duration;

  &:hover {
    //color: #1d2e5b;
    background-color: #c8cee8;
  }

  &:active {
    color: fade_out(#1d2e5b, 1 - 0.3);
    background-color: #c8cee8;
  }

  &:active span::before {
    opacity: 0.3;
  }

  span {
    position: relative;
    margin: 0 0 0 2px;
    padding: 0 0 0 24px;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 3px;
      background: no-repeat 0 0;
      transition: $duration;

      @include bg-image(12px, 12px, "filter-close.svg");
    }
  }
}

@media (min-width: $tablet-width) {
  .alphabet {
    width: calc(100% + 207px);
    padding: 0;
    border: none;
  }

  .choose-country .alphabet {
    position: absolute;
  }

  .alphabet__list {
    width: 369px;
    padding: 35px 27px 36px;
    border-right: 1px solid fade_out(#d6d9e6, 1 - 0.5);
  }

  .alphabet__item {
    width: calc((100% + 6px) / 6);
    height: 70px;
    padding: 25px 0 10px 5px;
    font-size: 20px;
    letter-spacing: 2px;

    &--active {
      position: relative;
      z-index: 2;
      color: #ffffff;
      background-color: #1d2e5b;
      border: 1px solid #1d2e5b;
    }
  }
}

@media (min-width: $desktop-width) {
  .alphabet {
    width: calc(100% + 2px);
  }

  .alphabet__list {
    width: 490px;
    margin: 0;
    padding: 34px 26px 17px 12px;
  }

  .alphabet__item {
    width: calc((100% - 15px * 6) / 6);
    margin: 0 0 15px 15px;
    border-radius: 4px;
  }
}
