.blockquote {
  display: flex;
  flex-direction: column;
  padding: 0 75px 0 25px;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}

.blockquote__quote {
  margin: 0 0 18px;
  font-weight: 300;
}

.blockquote__author {
  margin: 0 0 10px;
  font-weight: 700;
  font-style: normal;
}


@media (min-width: $tablet-width) {
  .blockquote {
    width: 298px;
    padding: 0;
  }

  .blockquote__quote {
    margin: 0 0 43px;
    font-size: 28px;
    line-height: 33px;
  }

  .blockquote__author {
    margin: 0;
    font-size: 21px;
    line-height: 25px;
  }
}
