.busyness-price {
  background-color: #ffffff;
}

.busyness-price__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: #ff8d30;
}

.busyness-price__business-price {
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  color: #192144;
  background-color: #f3f4f8;
}
