.choose-country {
  z-index: 1;
  padding-top: 46px;
  padding-bottom: 14px;
  background-color: #e2e5f2;
  border-radius: 0 0 20px 20px;

  &--active {
    border-radius: 0;

    .choose-country__btn--toggle {
      &::before {
        display: none;
      }

      &::after {
        display: block;
      }
    }

    .choose-country__dropdown {
      display: flex;
    }
  }
}

@media (max-width: $mobile-width-only) {
  .choose-country {
    height: 82px;
    padding: 0;

    &--active {
      .choose-country__height-wrap {
        position: static;
        padding-bottom: 27px;
      }

      .choose-country__title {
        margin: 0 0 30px;
      }

      .choose-country__continent {
        display: block;
      }
    }
  }

  .choose-country__height-wrap {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 46px 50px 14px;
    background-color: #e2e5f2;
    border-radius: 0 0 20px 20px;
  }

  .choose-country__wrap {
    position: relative;
    left: -25px;
    flex-wrap: wrap;
    width: calc(100% + 50px);
  }

  .choose-country__continent {
    order: 3;
    display: none;
    width: 100%;
  }
}

.choose-country__wrap {
  display: flex;
  justify-content: space-between;
}

.choose-country__title {
  position: relative;
  margin: 0;
  padding: 0 0 0 28px;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: #192144;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 6px;

    @include bg-image(15px, 10px, "filter.svg");
  }

  span {
    display: none;
  }
}

.choose-country__btn {
  color: #192144;

  &--toggle {
    position: relative;
    align-self: flex-start;
    width: 26px;
    height: 22px;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;

    &::before,
    &::after {
      content: "";
      position: absolute;
      background: no-repeat 0 0;
    }

    &::before {
      left: 5px;
      top: 9px;

      @include bg-image(17px, 3px, "dots-mobile.svg");
    }

    &::after {
      left: 7px;
      top: 4px;
      display: none;

      @include bg-image(12px, 12px, "filter-close.svg");
    }

    &:hover {
      color: fade_out(#192144, 1 - 0.6);

      &::before,
      &::after {
        opacity: 0.6;
      }
    }

    &:active {
      color: fade_out(#192144, 1 - 0.3);

      &::before,
      &::after {
        opacity: 0.3;
      }
    }
  }
}

.choose-country__text {
  @include visually-hidden();
}

@media (min-width: $tablet-width) {
  .choose-country {
    padding-top: 117px;
    padding-bottom: 55px;
    border-radius: 0 0 60px 60px;

    &--active {
      border-radius: 0;

      .choose-country__text {
        &--show {
          @include visually-hidden();
        }

        &--collapse {
          @include visually-hidden-inactive();
        }
      }
    }
  }

  .choose-country__title {
    @include visually-hidden();
  }

  .choose-country__btn--toggle {
    width: 176px;

    &::before {
      left: auto;
      right: 0;
      top: 9px;

      @include bg-image(27px, 5px, "dots.svg");
    }

    &::after {
      left: auto;
      right: 3px;
      top: 3px;
      width: 18px;
      height: 18px;
    }
  }

  .choose-country__text {
    display: block;
    padding: 0 32px 0 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: left;
    text-transform: uppercase;

    &--show {
      @include visually-hidden-inactive();
    }

    &--collapse {
      padding-left: 2px;
    }
  }
}

@media (min-width: $desktop-width) {
  .choose-country__height-wrap {
    padding: 117px 123px 55px 80px;
  }

  .choose-country__wrap {
    justify-content: flex-start;
  }

  .choose-country__title {
    @include visually-hidden-inactive();
    position: relative;
    margin: 0 35px 0 0;
    padding: 0 0 0 43px;
    font-size: 20px;
    line-height: 24px;

    &::before {
      top: 4px;

      @include bg-image(23px, 15px, "filter-desktop.svg");
    }

    span {
      display: inline;
    }
  }

  .choose-country__continent {
    margin: 0;
  }

  .choose-country--active .choose-country__btn--toggle {
    left: -2px;
  }
}
