.continent-filter {
  list-style: none;
  margin: 0 0 16px 25px;
  padding: 0;
}

.continent-filter__item {
  margin: 0 0 5px;
}

.continent-filter__label-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: fade_out(#192144, 1 - 0.3);

  &:hover {
    color: fade_out(#192144, 1 - 0.6);
  }

  &:active {
    color: #192144;
  }
}

.continent-filter__checkbox:checked + .continent-filter__label-text {
  color: #192144;

  &:hover {
    color: fade_out(#192144, 1 - 0.6);
  }

  &:active {
    color: fade_out(#192144, 1 - 0.3);
  }
}

@media (min-width: $tablet-width) {
  .continent-filter {
    display: flex;
    margin: 0 auto 0 0;
  }

  .continent-filter__item {
    margin: 0 28px 0 -1px;
  }

  .continent-filter__label-text {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: fade_out(#192144, 1 - 0.3);
    text-align: left;

    &:hover {
      color: fade_out(#192144, 1 - 0.6);
    }

    &:active {
      color: #192144;
    }
  }
}
