.contact-list {
  list-style: none;
  padding-left: 0;
}

.contact-list__item {
  &--caption {
    display: flex;
    align-items: center;
    height: 45px;
    padding-left: 10px;
  }
}

.contact-list__link {
  position: relative;
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-decoration: none;
  color: #192144;
  transition: $duration;

  &--menu {
    @include square(40px);
    font-size: 0;
    border-radius: 50%;
  }

  &--caption {
    padding-left: 51px;
    text-transform: uppercase;

    &:hover .contact-list__icon--caption {
      fill: #ffbd30;
    }

    &:active .contact-list__icon--caption {
      fill: fade-out(#ffbd30, 1 - 0.3);
    }

    &--header {
      color: #192144;

      &:hover {
        color: fade_out(#192144, 1 - 0.6);
      }

      &:active {
        color: fade_out(#192144, 1 - 0.3);
      }
    }

    &--main {
      color: #ffd74b;

      &:hover {
        color: #ffbd30;
      }

      &:active {
        color: fade-out(#ffbd30, 1 - 0.3);
      }
    }
  }
}

.contact-list__round {
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 50%;
  transition: $duration;

  &--menu {
    @include square(40px);

    &--phone {
      background-color: #ff8d30;

      &:hover {
        background-color: #f26926;
      }

      &:active .contact-list__icon--menu {
        opacity: 0.3;
      }
    }

    &--mail {
      background-color: #ffbd30;

      &:hover {
        background-color: #ff8d30;
      }

      &:active .contact-list__icon--menu {
        opacity: 0.3;
      }
    }
  }

  &--caption {
    left: -10px;
    top: -12.5px;

    @include square(45px);
    background-color: #121936;
  }
}

.contact-list__icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: no-repeat 0 0;
  fill: #010101;
  transition: $duration;

  &--menu {
    fill: #161c35;

    &:active {
      fill: fade_out(#161c35, 1 - 0.3);
    }

    &--phone {
      width: 18px;
      height: 18px;
    }

    &--mail {
      width: 18px;
      height: 14px;
    }
  }

  &--caption {
    fill: #ffd74b;

    &:hover {
      fill: #ffbd30;
    }

    &:active {
      fill: fade_out(#ffbd30, 1 - 0.3);
    }

    &--phone {
      width: 18px;
      height: 18px;
    }

    &--mail {
      width: 18px;
      height: 13px;
    }
  }
}

@media (min-width: $tablet-width) {
  .contact-list {
    padding-left: 57px;
  }

  .contact-list__item {
    &--caption {
      height: 68px;
    }
  }

  .contact-list__link {
    font-size: 28px;
    line-height: 28px;

    &--caption {
      padding-left: 81px;
    }
  }

  .contact-list__round {
    &--caption {
      left: -10px;
      top: -22.5px;

      @include square(68px);
    }
  }

  .contact-list__icon {
    &--caption {
      &--phone {
        width: 27px;
        height: 27px;
      }

      &--mail {
        width: 27px;
        height: 20px;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .contact-list {
    display: flex;
    //временно
    //align-self: flex-start;
    //временно
    //padding: 0 0 0 223px;
    padding: 0;

    &--bottom-main {
      .contact-list__item {
        padding: 0;
        margin-left: 111px;
      }

      .contact-list__link {
        padding: 0 0 0 122px;
      }

      .contact-list__round {
        left: 0;
        top: -34px;

        @include square(90px);
      }
    }

    .contact-list__icon {
      &--caption {
        &--phone {
          width: 36px;
          height: 36px;
        }

        &--mail {
          width: 36px;
          height: 26px;
        }
      }
    }
  }

  .contact-list__link--caption--header {
    font-size: 0;
  }
}
