.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  //padding: 13px 0;
  text-decoration: none;
  transition: $duration;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.copyright__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #444444;
}

.copyright__logo {
  width: 27px;
  height: 34px;
}
