.country-list2 {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 14px 0 0 20px;
}

.choose-country .country-list2 {
  margin: 0 0 22px;
  padding: 0 0 0 1px;
}

.country-list2__item {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0;
  text-align: left;
  color: #444444;
}


@media (min-width: $tablet-width) {
  .country-list2 {
    width: auto;
    padding: 30px 0 0 26px;
  }

  .country-list2__item {
    font-size: 20px;
    line-height: 30px;
  }
}

