.flag-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 3px -19px;
  padding: 0;
  list-style: none;
  transform: translateY(-50%);
}

.flag-list__item {
  margin-left: 19px;
  border-radius: 2px;

  &--srilanka {
    @include bg-sprite-image(35px, 24px, "flags-sprite.png", -65px, -188px);
  }

  &--thailand {
    @include bg-sprite-image(35px, 24px, "flags-sprite.png", -120px, -188px);
  }

  &--seychelles {
    @include bg-sprite-image(35px, 24px, "flags-sprite.png", -10px, -188px);
  }

  &--belgium {
    @include bg-sprite-image(35px, 24px, "flags-sprite.png", -65px, -144px);
  }

  &--czech {
    @include bg-sprite-image(35px, 24px, "flags-sprite.png", -190px, -10px);
  }
}
