.follow-traveler {
  display: flex;
  flex-direction: column;
  padding-top: 81px;
  color: #ffffff;

  &--main {
    background-color: #192144;
    background-position: 0 340px, 152px 68px;
    background-repeat: no-repeat, no-repeat;
    background-size: 61px 71px, 143px 143px;

    @include bg-simple-2-image("rogovaya-back-mobile.png@61w1x.png", "smolov-back-desktop.png@143w1x.png");
    overflow: hidden;

    &::after {
      content: "";
      position: absolute;
      z-index: -1;
      left: -19px;
      top: 68px;
      width: 132px;
      height: 132px;
      background-color: #141b3b;
      border-radius: 20px;
    }

    .follow-traveler__content-wrap {
      margin-bottom: 18px;
    }

    .follow-traveler__list {
      margin: 0 0 9px 0;
    }
  }

  &--catalog {
    padding-bottom: 80px;
    border-radius: 0;

    .follow-traveler__list {
      margin: 0 0 10px 0;
    }
  }
}

.follow-traveler__content-wrap {
  margin-bottom: 55px;
  padding: 0 30px 0 25px;
}

.follow-traveler__title {
  margin: 20px 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: #ff8d30;
}

.follow-traveler__text {
  margin: 20px 0;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;

  &--bold {
    margin: 21px 0;
    font-weight: 700;
  }
}

.follow-traveler__all {
  margin: 0 0 19px;
}

.follow-traveler__show-more {
  position: relative;
  align-self: center;
  margin: 0 1px 19px 0;
  padding: 0 0 0 33px;
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  //text-align: center;
  color: #1d2e5b;
  background-color: transparent;
  border: none;
  transition: $duration;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 4px;
    width: 18px;
    height: 18px;

    @include bg-simple-image("show-more-plus.svg");
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.follow-traveler__control-arrow {
  display: flex;
  height: 50px;
}

.follow-traveler__arrow {
  position: relative;
  flex-grow: 1;
  border: none;
  background-color: #ffffff;

  &::before {
    content: "";
    position: absolute;
    top: 15px;
    border: 10px solid transparent;
    transition: $duration;
  }

  &--left {
    margin-right: 0.5px;
    border-radius: 20px 0 0 20px;

    &::before {
      left: 53px;
      border-right: 10px solid #192144;
    }

    &:hover::before {
      border-right-color: fade_out(#192144, 1 - 0.6);
    }

    &:active::before {
      border-right-color: fade_out(#192144, 1 - 0.3);
    }
  }

  &--right {
    margin-left: 0.5px;
    border-radius: 0 20px 20px 0;

    &::before {
      right: 52px;
      border-left: 10px solid #192144;
    }

    &:hover::before {
      border-left-color: fade_out(#192144, 1 - 0.6);
    }

    &:active::before {
      border-left-color: fade_out(#192144, 1 - 0.3);
    }
  }
}

@media (min-width: $tablet-width) {
  .follow-traveler {
    padding-top: 201px;
    padding-bottom: 69px;

    &--main {
      background-position: calc(50% + 166px) 140px, calc(50% - 273px) 486px;
      background-size: 285px 285px, 143px 143px;

      @include bg-simple-2-image(
          "rogovaya-back-desktop@1x.png",
          "smolov-back-desktop.png@143w1x.png");
      overflow: hidden;

      &::after {
        left: 40px;
        top: 140px;
        width: 213px;
        height: 213px;
      }

      .follow-traveler__list {
        margin: 0 0 70px -48px;
      }

      .follow-traveler__content-wrap {
        margin-bottom: 58px;
        padding: 0 0 0 0;
      }
    }

    &--catalog {
      .follow-traveler__list {
        margin: 0;
      }
    }
  }

  .follow-traveler__title {
    margin: 0 0 56px -2px;
    font-size: 45px;
    line-height: 45px;
  }

  .follow-traveler__text {
    width: 480px;
    margin: 0;
    font-size: 28px;
    line-height: 33px;

    &--normal {
      margin-bottom: 40px;
    }

    &--bold {
      width: 400px;
      font-size: 21px;
      line-height: 25px;
    }
  }
}
