.follow-traveler {
  display: flex;
  flex-direction: column;
  padding-top: 81px;
  color: #ffffff;

  &--main {
    padding-bottom: 30px;
    background-color: #192144;
    background-position: -10px 340px, 152px 68px;
    background-repeat: no-repeat, no-repeat;
    background-size: 71px 71px, 143px 143px;

    @include bg-simple-2-image("rogovaya-back-mobile@1x.png", "smolov-back-desktop@1x.png");
    @include bg-retina-2-image("rogovaya-back-mobile@2x.png", "smolov-back-desktop@2x.png");
    overflow: hidden;

    &::after {
      content: "";
      position: absolute;
      z-index: -1;
      left: -19px;
      top: 68px;
      width: 132px;
      height: 132px;
      background-color: #141b3b;
      border-radius: 20px;
    }

    .follow-traveler__content-wrap {
      margin-bottom: 35px;
    }

    .follow-traveler__list {
      margin: 0 0 10px 0;
    }
  }

  &--catalog {
    padding-bottom: 80px;
    border-radius: 0;

    .follow-traveler__list {
      margin: 0 0 10px 0;
    }
  }
}

.follow-traveler__content-wrap {
  margin-bottom: 55px;
  padding: 0 30px 0 25px;
}

.follow-traveler__title {
  margin: 20px 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: #ff8d30;
}

.follow-traveler__text {
  margin: 20px 0;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;

  br {
    display: none;
  }

  &--bold {
    margin: 21px 0;
    font-weight: 700;
  }
}

.follow-traveler__all {
  margin: 0;
}

.follow-traveler__show-more {
  position: relative;
  align-self: center;
  margin: 0 1px 19px 0;
  padding: 0 0 0 33px;
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  //text-align: center;
  color: #1d2e5b;
  background-color: transparent;
  border: none;
  transition: $duration;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 4px;
    width: 18px;
    height: 18px;

    @include bg-simple-image("show-more-plus.svg");
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.follow-traveler__control-arrow {
  //временно
  //height: 50px;
}

@media (min-width: $tablet-width) {
  .follow-traveler {
    padding-top: 201px;
    padding-bottom: 88px;

    &--main {
      //display: flex;
      background-position: calc(50% + 166px) 140px, calc(50% - 273px) 486px;
      background-size: 285px 285px, 143px 143px;

      @include bg-simple-2-image("rogovaya-back-desktop@1x.png", "smolov-back-desktop@1x.png");
      @include bg-retina-2-image("rogovaya-back-desktop@2x.png", "smolov-back-desktop@2x.png");
      overflow: hidden;

      &::after {
        left: 40px;
        top: 140px;
        width: 213px;
        height: 213px;
      }

      .follow-traveler__list {
        margin: 0 0 70px -48px;
      }

      .follow-traveler__content-wrap {
        margin-bottom: 58px;
        padding: 0 0 0 0;
      }
    }

    &--catalog {
      padding-bottom: 2px;

      .follow-traveler__list {
        margin: 0 0 6px 0;
      }
    }
  }

  .follow-traveler__title {
    margin: 0 0 56px -2px;
    font-size: 45px;
    line-height: 45px;
  }

  .follow-traveler__text {
    width: 480px;
    margin: 0;
    font-size: 28px;
    line-height: 33px;

    br {
      display: inline;
    }

    &--normal {
      margin-bottom: 40px;
    }

    &--bold {
      width: 400px;
      font-size: 21px;
      line-height: 25px;
    }
  }

  .follow-traveler__show-more {
    margin: 0 0 47px 0;
    padding: 0 0 0 43px;
    font-size: 20px;
    line-height: 30px;

    &::before {
      left: -8px;
      top: -1px;
      width: 27px;
      height: 27px;

      @include bg-simple-image("show-more-plus.svg");
    }
  }
}

@media (min-width: $desktop-width) {
  .follow-traveler {
    &--main {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-top: 190px;
      padding-bottom: 53px;
      background-position: 191px 445px, 547px 193px;

      &::after {
        left: 60px;
        top: 128px;
      }

      .follow-traveler__list {
        margin: 0;
        padding: 3px 0 0 0;
      }

      .follow-traveler__content-wrap {
        margin-bottom: 0;
        padding: 0 0 0 71px;
      }

      .follow-traveler__all {
        position: relative;
        left: 71px;
        top: -81px;
        min-width: 280px;
      }
    }

    &--catalog {
      //временно
      width: 950px;
      padding-bottom: 45px;

      .follow-traveler__list {
        margin: 0 0 36px 0;
      }
    }
  }

  .follow-traveler__show-more {
    margin: 0 66px 66px 0;
  }
}
