.form-step {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border: none;

  &--step1 .form-step__text {
    margin: 0 0 21px;
  }

  &--step2 .form-step__text {
    margin: 0 0 22px;
  }

  &--step3 .form-step__text {
    margin: 0 0 34px;
    padding-bottom: 35px;
  }
}

.form-step__title {
  margin: 0 0 16px -1px;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: -0.1px;
  color: #1d2e5b;
}

.form-step__text {
  margin: 0 0 21px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #444444;

  br {
    display: none;
  }
}

.form-step__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 0 20px;

  &--number-travelers,
  &--days {
    .form-step__input {
      padding: 0 57px;
      border: 1px solid #cbced9;
      border-radius: 4px;
      transition: $duration;

      &:hover {
        border: 1px solid #959bb2;
      }

      &:active {
        border: 1px solid #161c35;
      }

      &:focus {
        border: 1px solid #161c35;
        outline: none;
      }
    }
  }

  &--with-kids {
    justify-content: flex-start;
    margin: 0 0 22px;

    .form-step__label {
      align-self: flex-start;
      margin: 7px 0 0;
      font-weight: 400;
      font-size: 15px;
      line-height: 15px;
      letter-spacing: 0;
      text-transform: none;
      color: #444444;
    }
  }

  &--month {
    margin: 0 0 16px;

    label {
      width: 100%;
    }

    .form-step__input {
      min-height: 44px;
      border-left: none;
      border-right: none;
      border-top: 1px solid #cbced9;
      border-bottom: 1px solid #cbced9;
      font-weight: 700;
      font-size: 20px;
      line-height: 20px;
    }

    .form-step__sign-btn {
      &::before {
        top: 14px;
        opacity: 0.3;
      }

      &:hover::before {
        opacity: 0.5;
      }

      &:active::before {
        opacity: 0.1;
      }
    }
  }
}

.form-step__label {
  margin: 0 -1px 9px;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  color: #1d2e5b;

  &--units {
    color: fade_out(#1d2e5b, 1 - 0.3);
  }
}

.form-step__input-wrap {
  position: relative;
  display: flex;
  width: 100%;
}

.form-step__input {
  width: 100%;
  min-height: 43px;
  font-weight: 500;
  font-size: 15px;
  line-height: 13.5px;
  text-align: center;
  color: #1d2e5b;
}

.form-step__sign-btn {
  position: absolute;
  top: 0;
  height: 100%;
  border: none;
  width: 42px;
  background-color: transparent;

  &::before {
    content: "";
    position: absolute;
    background: no-repeat 0 0;
    opacity: 0.2;
    transition: $duration;
  }

  .form-step__img {
    position: absolute;
    top: 13px;
    opacity: 0.3;
    transition: $duration;
  }

  &:hover {
    &::before {
      opacity: 0.4;
    }

    .form-step__img {
      opacity: 0.5;
    }
  }

  &:active {
    &::before {
      opacity: 0.1;
    }

    .form-step__img {
      opacity: 0.2;
    }
  }

  &--minus {
    left: 0;

    &::before {
      left: 14px;
      top: 21px;

      @include bg-image(14px, 2px, "qty-minus-mobile.svg");
    }
  }

  &--plus {
    right: 0;

    &::before {
      right: 14px;
      top: 15px;

      @include bg-image(14px, 14px, "qty-plus-mobile.svg");
    }
  }

  &--left {
    left: 0;

    .form-step__img {
      left: 0;
    }
  }

  &--right {
    right: 0;

    .form-step__img {
      right: 0;
    }
  }
}

.form-step__icon-checkbox {
  position: relative;
  top: 1px;
  display: block;
  width: 26px;
  height: 26px;
  margin: 0 13px 0 0;
  border-radius: 4px;
  border: solid 1px #cbced9;
  transition: $duration;
}

.form-step__input-checkbox:checked ~ .form-step__icon-checkbox::before {
  content: "";
  position: absolute;
  left: 8px;
  top: 7px;
  background: no-repeat 0 0;

  @include bg-image(9px, 9px, "tick.svg");
}

.form-step__input-checkbox:checked:active ~ .form-step__icon-checkbox::before {
  opacity: 0.3;
}

.form-step__input-checkbox:hover ~ .form-step__icon-checkbox {
  border: solid 1px #959bb2;
}

.form-step__input-checkbox:active ~ .form-step__icon-checkbox {
  background-color: #e2e5f1;
  border-color: #e2e5f1;
}

.form-step__calendar-wrap {
  width: 100%;
  margin: 0 0 22px;
}

.form-step__country-list1 {
  margin: 0 0 3px;
}

.form-step__btn-main {
  $shift-width: 10px;
  position: relative;
  width: calc(100% + #{$shift-width});
  margin-left: $shift-width / -2;
  text-align: center;

  &--back {
    align-self: center;
    width: auto;
    margin: 11px 0 0 0;
    padding: 0;
    font-weight: 700;
    font-size: 17px;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #161c35;
    transition: $duration;

    &:hover {
      color: fade_out(#161c35, 1 - 0.7);
    }

    &:active {
      color: fade_out(#161c35, 1 - 0.3);
    }
  }
}

@media (min-width: $tablet-width) {
  .form-step {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    &--step1 {
      .form-step__title {
        order: 1;
      }

      .form-step__text {
        order: 2;
        margin: 0 0 23px;
      }

      .form-step__wrap {
        &--number-travelers {
          order: 3;
          margin: 0 0 31px;
        }

        &--with-kids {
          order: 4;
        }

        &--days {
          order: 5;
        }

        &--month {
          order: 6;
        }
      }

      .form-step__calendar-wrap {
        order: 7;
      }

      .form-step__btn-main--next {
        order: 8;
      }
    }

    &--step2 .form-step__text {
      margin: 0;
      padding-bottom: 35px;
    }
  }

  .form-step__wrap {
    width: 100%;
    margin: 0 0 10px;

    &--number-travelers,
    &--days {
      .form-step__input {
        padding: 0 75px;
      }
    }

    &--days {
      margin: 0 0 59px;
    }

    &--with-kids {
      margin: 0 0 23px;
      padding: 0 0 20px;
      border-bottom: 1px solid #d6d9e6;

      .form-step__label {
        margin: 2px 0 0;
        font-weight: 500;
        font-size: 20px;
        line-height: 18px;
        letter-spacing: 2px;
        text-align: left;
        text-transform: uppercase;
        color: #1d2e5b;
      }
    }

    &--month {
      min-height: 87px;
      margin: 0 0 30px;

      .form-step__input {
        min-height: 87px;
        border-top: 1px solid #d6d9e6;
        border-bottom: 1px solid #d6d9e6;
        font-size: 36px;
        line-height: normal;
        letter-spacing: -0.4px;
        color: #1d2e5b;
      }

      .form-step__sign-btn {
        &--left .form-step__img,
        &--right .form-step__img {
          top: 27px;
          width: 19px;
          height: 34px;
        }

        &--left .form-step__img {
          left: 16px;
        }

        &--right .form-step__img {
          right: 15px;
        }
      }
    }
  }

  .form-step__title {
    width: 100%;
    margin-bottom: 35px;
    font-size: 36px;
    line-height: 36px;
    letter-spacing: -0.2px;
  }

  .form-step__text {
    width: 100%;
    padding: 0 3px 40px 0;
    font-size: 20px;
    line-height: 24px;
    color: #444444;
    border-bottom: 1px solid #d6d9e6;

    br {
      display: inline;
    }
  }

  .form-step__label {
    margin: 0 -1px 26px;
    font-size: 20px;
    line-height: 18px;
    letter-spacing: 1.9px;
  }

  .form-step__input {
    min-height: 70px;
    font-size: 20px;
    line-height: 18px;
    letter-spacing: 2px;
  }

  .form-step__sign-btn {
    width: 61px;

    &--minus::before {
      left: 23px;
      top: 34px;

      @include bg-image(20px, 2px, "qty-minus.svg");
    }

    &--plus::before {
      right: 19px;
      top: 25px;

      @include bg-image(20px, 20px, "qty-plus.svg");
    }
  }

  .form-step__icon-checkbox {
    top: -6px;
    width: 36px;
    height: 36px;
    margin: 0 22px 0 0;
  }

  .form-step__input-checkbox:checked ~ .form-step__icon-checkbox::before {
    left: 12px;
    top: 11px;
    width: 12px;
    height: 12px;
  }

  .form-step__calendar-wrap {
    margin: 0 0 46px;
  }

  .form-step__country-list1 {
    width: 100%;
    margin: 0 0 33px;
  }

  button.form-step__btn-main--next {
    padding-top: 21px;
  }

  .form-step__btn-main {
    &--next {
      width: 285px;
      height: 81px;
      border-radius: 20px;
      margin: 0;
      padding: 28px 29px 22px 33px;
      text-transform: none;
      font-size: 24px;
      line-height: 24px;
      text-align: left;

      &::after {
        display: block;
      }

      &:active::after {
        border-left-color: fade_out(#1d2e5b, 1 - 0.3);
      }
    }

    &--back {
      width: auto;
      margin: 0 -3px 0 0;
      padding: 0 0 0 40px;
      font-size: 24px;
      line-height: 24px;
      text-transform: none;
      color: #1d2e5b;

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        border: 7px solid transparent;
        border-right: 10px solid #1d2e5b;
        transform: translateY(-50%);
        transition: $duration;
      }

      &:hover::after {
        border-right-color: fade_out(#1d2e5b, 1 - 0.7);
      }

      &:active::after {
        border-right-color: fade_out(#1d2e5b, 1 - 0.3);
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .form-step {
    .form-step__text {
      padding-bottom: 56px;
    }

    &--step1 {
      .form-step__text {
        margin: 0 0 30px;
      }

      .form-step__wrap {
        &--number-travelers {
          margin: 0 0 14px;
        }
      }
    }

    &--step3 .form-step__text {
      margin: 0 0 78px;
    }
  }

  .form-step__wrap {
    width: auto;

    &--number-travelers,
    &--days {
      width: auto;

      .form-step__input-wrap {
        width: auto;
        margin: 0 35px 0 0;
      }

      .form-step__input {
        width: 181px;
      }

      .form-step__label--units {
        order: 3;
      }
    }

    &--days {
      margin: 0 0 32px;
    }

    &--with-kids {
      align-self: center;
      margin: 0;
      padding: 0;
      border-bottom: none;
    }

    &--month {
      width: 100%;
      margin: 0 0 9px;

      .form-step__img {
        fill: #231f20;
      }

      .form-step__sign-btn {
        &--left .form-step__img,
        &--right .form-step__img {
          top: 28px;
        }

        &--left .form-step__img {
          left: 0;
        }

        &--right .form-step__img {
          right: 0;
        }
      }
    }
  }

  .form-step__title {
    padding: 0 280px 0 0;

    br {
      display: none;
    }
  }

  .form-step__text {
    padding: 0 390px 56px 0;
  }

  .form-step__label {
    align-self: center;
    margin: 0;

    &--units {
      color: #1d2e5b;
    }
  }

  .form-step__label--text {
    width: 220px;
  }

  .form-step__sign-btn {
    &--minus::before {
      left: 20px;
    }
  }

  .form-step__calendar-wrap {
    margin: 0 0 56px;
  }

  .form-step__country-list1 {
    margin: 0 0 40px;
  }

  .form-step__btn-main {
    &--back {
      margin: 0 2px 0 0;
    }
  }
}
