.get-route {
  padding-top: 64px;
  background-color: #ffd74b;
}

.get-route__address {
  position: relative;
  margin-bottom: 31px;
  padding: 0 2px 0 62px;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  font-style: normal;
  color: #192144;
}

.get-route__image {
  position: absolute;
  left: 0;
  top: -2px;

  @include square(45px);
  background-color: #121936;
  border-radius: 50%;

  &::after {
    content: "";
    position: absolute;
    left: calc(50% - 6px);
    top: calc(50% - 10px);

    @include bg-image(14px, 22px, "contacts-location.svg");
  }
}
