.main-filter {
  display: flex;
  flex-direction: column;
  margin: 0 0 28px;
  padding: 25px 25px 22px;
  border-radius: 20px;
  background-color: #ffd74b;
}

.main-filter__title {
  margin: 0 0 23px;
  font-weight: 700;
  font-size: 22.5px;
  line-height: 22.5px;
  color: #1d2e5b;
}

.main-filter__set {
  width: 100%;
  margin: 0;
  padding: 0;
  border-top: 1px solid #f3c72b;
  border-left: none;
  border-right: none;
  border-bottom: none;

  &--level {
    margin: 0 0 12px;
  }
}

.main-filter__legend {
  position: relative;
  height: 39px;
  margin: 0;
  padding: 0;
}

.main-filter__toggle {
  position: relative;
  z-index: 1;
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    top: 18px;
    transition: $duration;

    @include bg-image(8px, 4px, "dropdown.svg");
  }

  &:hover::after {
    opacity: 0.6;
  }

  &:active::after {
    opacity: 0.3;
  }
}

.main-filter__legend-text {
  position: absolute;
  left: 1px;
  top: 11px;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  text-align: left;
  color: #1d2e5b;
  text-transform: uppercase;
}

.main-filter__toggle:hover + .main-filter__legend-text {
  color: fade_out(#1d2e5b, 1 - 0.6);
}

.main-filter__toggle:active + .main-filter__legend-text {
  color: fade_out(#1d2e5b, 1 - 0.3);
}

.main-filter__legend-text2 {
  display: none;
}

.main-filter__set--active .main-filter__toggle::after {
  transform: rotate(-180deg);
}

.main-filter__wrap {
  display: none;

  &--checkbox {
    margin: 0;
    flex-direction: column;
    padding: 4px 0 8px;
  }
}

.main-filter__set--active .main-filter__wrap {
  display: flex;
}

.main-filter__label {
  margin: 0 0 10px;
}

.main-filter__label-text {
  position: relative;
  display: block;
  padding: 0 0 0 27px;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #444444;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border-radius: 4px;
    background-color: #ffffff;
  }

  &::after {
    display: none;
    content: "";
    position: absolute;
    left: 5px;
    top: 5px;

    @include bg-image(9px, 9px, "tick.svg");
  }
}

.main-filter__checkbox:checked + .main-filter__label-text::after {
  display: block;
}

.main-filter__label:hover .main-filter__label-text {
  color: fade_out(#444444, 1 - 0.6);

  &::before {
    background-color: fade_out(#ffffff, 1 - 0.6);
  }

  &::after {
    opacity: 0.6;
  }
}

.main-filter__label:active .main-filter__label-text {
  color: fade_out(#444444, 1 - 0.3);

  &::before {
    background-color: fade_out(#ffffff, 1 - 0.3);
  }

  &::after {
    opacity: 0.3;
  }
}

.main-filter__checkbox:focus + .main-filter__label-text::before {
  background-color: fade_out(#ffffff, 1 - 0.5);
}

.main-filter__wrap--level {
  display: none;
  padding: 2px 0 0;
}

.main-filter__set--active .main-filter__wrap--level {
  display: flex;
  flex-wrap: wrap;
}

.main-filter__show {
  display: block;
  width: calc(100% + 10px);
  height: 40px;
  margin: 0 0 0 -5px;
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #161c35;
  background-color: #ffffff;
  border: none;
  border-radius: 20px;
  transition: $duration;

  &:hover {
    box-shadow: 0 2px 10px 0 #00000014;
  }

  &:active {
    color: fade_out(#161c35, 1 - 0.3);
    background-color: #f3c72b;
  }
}

@media (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
  .main-filter {
    margin: 0;
    padding: 34px 35px 38px;
  }

  .main-filter__title {
    margin: 0 0 31px -1px;
    padding: 0 0 39px;
    border-bottom: 1px solid #f3c72b;
  }

  .main-filter__set {
    display: flex;
    margin: 0;

    &--transport {
      margin: 0 0 11px;
    }

    &--level {
      margin: 0 0 36px;
      padding: 0 0 35px;
      border-bottom: 1px solid #f3c72b;
    }
  }

  .main-filter__container {
    display: flex;
  }

  .main-filter__legend {
    width: 126px;
    margin: 0 0 11px;
    padding: 0 13px 0 0;
  }

  .main-filter__set--transport .main-filter__legend,
  .main-filter__set--level .main-filter__legend {
    margin: 8px 0 0;
  }

  .main-filter__toggle {
    display: none;
  }

  .main-filter__legend-text {
    position: static;
    display: flex;
  }

  .main-filter__toggle:hover + .main-filter__legend-text {
    color: #1d2e5b;
  }

  .main-filter__toggle:active + .main-filter__legend-text {
    color: #1d2e5b;
  }

  .main-filter__legend-text2 {
    display: inline;
  }

  .main-filter__wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 511px;
    margin: 0 0 15px;
    padding: 4px 0 0;

    &--travel-modes {
      margin: 1px 0 0 -5px;
      padding: 0;
    }

    &--level {
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-end;
      width: 492px;
      margin: 0;
      padding: 0;
    }
  }

  .main-filter__label {
    width: calc(100% / 3);
    margin: 0;
  }

  .main-filter__label-text {
    padding: 0 0 0 36px;

    &::after {
      left: 6px;
      top: 6px;
    }
  }
}

@media (min-width: $tablet-width) {
  .main-filter__title {
    font-size: 30px;
    line-height: 30px;
  }

  .main-filter__set {
    border: none;
  }

  .main-filter__legend-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
  }

  .main-filter__label-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    &::before {
      width: 24px;
      height: 24px;
    }

    &::after {
      width: 12px;
      height: 12px;
    }
  }

  .main-filter__show {
    width: 100%;
    height: 50px;
    margin: 0;
    padding: 0 5px 0 0;
    border-radius: 25px;
    font-size: 20px;
  }
}

@media (min-width: $desktop-width) {
  .main-filter {
    align-self: flex-start;
    width: 285px;
    margin: 0;
    padding: 45px 48px 47px;
  }

  .main-filter__title {
    margin: 0 0 19px;
  }

  .main-filter__set {
    margin: 0 0 2px;
  }

  .main-filter__toggle {
    &::after {
      right: -1px;
      top: 23px;
      width: 10px;
      height: 5px;
    }
  }

  .main-filter__wrap {
    padding: 23px 0 0;

    &--travel-modes {
      margin: 0 0 0 -3px;
      padding: 18px 0 15px;
    }

    &--level {
      margin: 0;
      padding: 17px 0 0;
    }
  }

  .main-filter__label {
    margin: 0 0 16px;

    &:last-child {
      margin: 0 0 13px;
    }
  }

  .main-filter__label-text {
    padding: 0 0 0 36px;

    &::after {
      left: 6px;
      top: 6px;
    }
  }

  .main-filter__show {
    width: calc(100% + 7px);
    margin: 28px 0 0;
  }
}
