.main-nav {
  position: relative;
  z-index: 10;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 27px 25px 0;
  background-color: #161c36;

  &--opened {
    position: absolute;
    z-index: 16;
    background-color: #ffffff;

    .main-nav__toggle-icon {
      display: none;

      &--close-mobile {
        display: block;
      }
    }
  }

  &--closed {
    background-color: #161c36;

    .main-nav__site-list,
    .main-nav__user-list,
    .main-nav__contact-list,
    .main-nav__social-list {
      display: none;
    }

    .main-nav__logo {
      margin: 0;
    }

    .main-nav__logo-image {
      &--blue {
        display: none;
      }

      &--white {
        display: block;
      }
    }

    .main-nav__toggle-icon {
      display: none;

      &--menu-mobile {
        display: block;
      }
    }
  }

  &--nojs {
    background-color: #ffffff;

    .main-nav__toggle {
      display: none;
    }

    .main-nav__site-list,
    .main-nav__user-list,
    .main-nav__contact-list {
      display: block;
    }

    .main-nav__social-list {
      display: flex;
    }

    .main-nav__logo {
      margin: 0 0 70px 0;
      background-image: none;
    }

    .main-nav__logo-image {
      &--blue {
        display: block;
      }

      &--white {
        display: none;
      }
    }
  }
}

.page-header--no-index .main-nav--closed {
  background-color: #161c35;
}

.page-header--scrolled {
  .main-nav {
    min-height: $header-mobile-min-height;
    background-color: #ffffff;
    box-shadow: 0 1px 0 0 fade_out(#000000, 1 - 0.1);
  }

  .main-nav__logo {
    background-color: #ffffff;
  }

  .main-nav__logo-image {
    &--blue {
      display: block;
    }

    &--white {
      display: none;
    }
  }

  .main-nav__toggle-icon--menu-mobile {
    fill: #cccccc;

    &:hover {
      fill: #999999;
    }

    &:active {
      fill: #e6e6e6;
    }
  }
}

.main-nav__logo {
  width: 100px;
  height: 19px;
  margin: 0 0 69px 0;
  cursor: pointer;
  background-position: 0 0;
  background-repeat: no-repeat;
}

.main-nav__logo-image {
  &--blue {
    display: block;
  }

  &--white {
    display: none;
  }
}

.main-nav__toggle {
  position: relative;
  top: -3px;
  display: block;
  background-color: transparent;
  width: 25px;
  height: 25px;
  padding: 0;
  border: none;
  transition: $duration;
}

.main-nav__toggle-icon {
  transition: $duration;

  &--menu-tablet,
  &--menu-mobile {
    width: 25px;
    height: 11px;
    fill: #ffffff;

    &:hover {
      fill: fade_out(#ffffff, 1 - 0.6);
    }

    &:active {
      fill: fade_out(#ffffff, 1 - 0.3);
    }
  }

  &--close-mobile {
    width: 19px;
    height: 19px;
    margin-left: 3px;
  }

  &--close-tablet {
    width: 18px;
    height: 18px;
    margin-left: 3px;
    margin-top: -3px;
  }

  &--close-mobile,
  &--close-tablet {
    fill: #cccccc;
  }

  &:hover {
    fill: #999999;
  }

  &:active {
    fill: #e6e6e6;
  }
}

.main-nav__site-list {
  width: 100%;
  margin: 0 0 51px;
}

.main-nav__user-list {
  width: 100%;
  min-height: 50px;
  margin: 0 0 52px 0;
}

.main-nav__contact-list {
  display: block;
  width: 100%;
  margin: 0 0 28px 0;
}

.main-nav__social-list {
  padding: 0 0 0 0;
}

@media (max-width: $mobile-width-only) {
  .page-header--no-index .main-nav {
    padding-top: 19px;
  }
}

@media (min-width: $tablet-width) {
  .main-nav {
    min-height: $header-tablet-min-height;
    padding: 40px 40px 0;

    .main-nav__logo {
      order: 1;
      margin-top: 5px;
    }

    .main-nav__logo-image {
      &--blue {
        display: block;
      }

      &--white {
        display: none;
      }
    }

    .main-nav__toggle {
      order: 2;
      margin: 17px 0 0 25px;
    }

    .main-nav__user-list {
      order: 3;
      display: block;
      margin: 0;
      width: 188px;
    }

    .main-nav__site-list {
      order: 4;
      margin: 0 0 131px 0;
    }

    .main-nav__contact-list {
      order: 5;
      margin: 0 0 112px 0;
    }

    .main-nav__social-list {
      order: 6;
    }

    &--opened {
      padding-bottom: 74px;

      .main-nav__logo {
        margin-bottom: 97px;
      }

      .main-nav__logo-image {
        &--blue {
          display: block;
        }

        &--white {
          display: none;
        }
      }

      .main-nav__toggle-icon {
        display: none;

        &--close-tablet {
          display: block;
        }
      }
    }

    &--closed {
      background-color: #182044;

      .main-nav__logo-image {
        &--blue {
          display: none;
        }

        &--white {
          display: block;
        }
      }

      .main-nav__toggle-icon {
        display: none;

        &--menu-tablet {
          display: block;
        }
      }
    }

    &--nojs {
      position: relative;
      padding-bottom: 74px;
      background-color: #ffffff;

      .main-nav__logo {
        margin-bottom: 97px;
      }

      .main-nav__logo-image {
        &--blue {
          display: block;
        }

        &--white {
          display: none;
        }
      }

      .main-nav__toggle {
        display: none;
      }
    }
  }

  .page-header--scrolled {
    .main-nav {
      min-height: $header-tablet-min-height;
    }

    .main-nav__logo-image {
      &--blue {
        display: block;
      }

      &--white {
        display: none;
      }
    }
  }

  .main-nav__logo {
    width: 164px;
    height: 42px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    align-items: flex-start; //временно
    width: $desktop-width;
    min-height: $header-desktop-min-height;
    padding: 49px 60px 0;
    background-color: #161c34;

    &--opened,
    &--closed,
    &--nojs {
      .main-nav__toggle,
      .main-nav__social-list {
        display: none;
      }

      .main-nav__logo {
        order: 1;
        margin: -2px 0 0 0;
      }

      .main-nav__logo-image {
        &--blue {
          display: none;
        }

        &--white {
          display: block;
        }
      }

      .main-nav__site-list {
        position: relative;
        order: 2;
        display: flex;
        width: auto;
        max-width: 800px;
        margin: 13px 0 0 -34px;

        &::before {
          content: "";
          position: absolute;
          left: 74px;
          top: 12px;
          width: 60px;
          height: 2px;
          background-color: #ffffff;
          border-radius: 1px;
        }
      }

      .main-nav__contact-list {
        order: 3;
        display: flex;
        width: auto;
        margin: 0 0 0 auto;
      }

      .main-nav__user-list {
        order: 4;
        min-width: 189px;
      }
    }
  }

  .page-header--scrolled {
    .main-nav {
      min-height: $header-desktop-scrolled-min-height;
      padding: 18px 0 20px;
    }

    .main-nav__logo-image {
      &--blue {
        display: block;
      }

      &--white {
        display: none;
      }
    }

    .main-nav__site-list::before {
      background-color: #192144;
    }
  }

  .main-nav__logo {
    width: 200px;
    height: 52px;
  }
}
