.main-nav {
  position: relative;
  background-color: #192144;

  &--open-menu {
    background: #ffffff;
  }
}

.main-nav__toggle {
  position: absolute;
  right: 10px;
  top: 10px;
}

.main-nav__contact-list {
  display: block;
}
