.my-plans {
  counter-reset: list;
  display: flex;
  flex-direction: column;
  padding-top: 26px;
  padding-bottom: 50px;
  background-color: #dfe3f0;
}

.my-plans__title {
  margin: 0 0 32px;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: #1d2e5b;
}

.my-plans__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.my-plans__item {
  margin: 0 0 10px;
  padding: 23px 15px 22px 25px;
}

@media (min-width: $tablet-width) {
  .my-plans {
    padding-top: 47px;
    padding-bottom: 124px;
  }

  .my-plans__title {
    margin: 0 0 44px;
    font-size: 36px;
    line-height: 50px;
    letter-spacing: -0.3px;
  }

  .my-plans__item {
    padding: 25px 0 18px;
  }
}

@media (min-width: $desktop-width) {
  .my-plans {
    padding-top: 46px;
    padding-bottom: 108px;
    padding-left: 124px;
  }

  .my-plans__title {
    margin: 0 0 44px;
    padding: 0 0 0 7px;
  }

  .my-plans__item {
    margin: 0 0 15px;
    padding: 22px 0 25px 43px;
  }
}
