.page-main {
  &--catalog {
    .page-main__item--follow-traveler {
      background-color: #edeff6;
    }
  }
}

.page-main__item {
  position: relative;
  margin-top: -30px;
  padding: 30px 25px 10px;
  border-radius: 0 0 30px 30px;

  &--caption {
    z-index: 10;
    margin-top: 0;
    padding-top: 20px;
    padding-bottom: 100px;
    border-radius: 0;
  }

  &--steps {
    z-index: 11;
    margin-top: -80px;
    padding-top: 0;
    padding-bottom: 0;
  }

  &--about-us {
    margin-top: -1400px;
    padding-top: calc(1400px + 52px);
    z-index: 9;
  }

  &--route {
    z-index: 8;
  }

  &--follow-traveler {
    z-index: 7;
  }

  &--add-profile {
    z-index: 6;
  }

  &--user-nav {
    z-index: 5;
  }

  &--get-route {
    z-index: 4;
  }

  &--map {
    z-index: 1;
    padding: 0;
    border-radius: 0;
    margin-top: -34px;
  }
}

.page-header--scrolled + .page-main {
  padding-top: $header-m-height;
}
