.page-header {
  position: relative;
  display: flex;
  //временно
  min-height: $header-m-height;
  width: 320px;
  //background: #161c35;

  &--scrolled {
    position: fixed;
    z-index: 20;
  }
}

.page-header__main-nav {
  width: 100%;
}
