.route-card__inner {
  background-color: #ffffff;
}

.route-card__country {
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
  color: #161c35;
}

.route-card__user-quantity {
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #444444;
  opacity: 0.3;
}

.route-card__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  opacity: 0.3;
}

.route__all {
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-decoration: none;
  color: #1d2e5b;
  background-color: #ffd74b;
}
