.site-list {
  list-style: none;
}

.site-list__link {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
  color: #192144;

  background-color: #ffffff;
}
