.social-list {
  display: flex;
  justify-content: center;
  //align-self: center;
  width: 100%;
  margin: 0;
  padding: 0 0 38px;
  list-style: none;
  border-bottom: 1px solid fade_out(#000000, 1 - 0.05);

  &--header {
    margin: 0 0 29px 2px;
    padding: 0;
    border-bottom: none;
  }
}

.social-list__link {
  position: relative;
  display: block;

  @include square(45px);
  font-size: 0;
  border-radius: 50%;
  transition: $duration;

  &--footer {
    background-color: #ffd74b;

    &:hover {
      background-color: #ffbd30;
    }
  }
}

.social-list__img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: $duration;

  &--header {
    fill: #cccccc;

    &--fb {
      width: 11px;
      height: 21px;
    }

    &--vk {
      width: 23px;
      height: 12px;
    }

    &--inst {
      width: 18px;
      height: 18px;
    }
  }

  &--footer {
    fill: #1d2e5b;

    &--fb {
      width: 11px;
      height: 21px;
    }

    &--vk {
      width: 23px;
      height: 12px;
    }

    &--inst {
      width: 18px;
      height: 18px;
    }
  }
}

.social-list__link--header:hover .social-list__img {
  fill: fade_out(#000000, 1 - 0.4);
}

.social-list__link--header:active .social-list__img {
  fill: fade_out(#000000, 1 - 0.1);
}

.social-list__link--footer:active .social-list__img {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .social-list {
    width: auto;
    border-bottom: none;
    padding: 0;

    &--header {
      margin: 0 0 0 60px;
    }
  }

  .social-list__link {
    @include square(60px);
  }

  .social-list__img {
    left: 50%;
    top: 50%;

    &--header {
      &--fb {
        width: 14px;
        height: 28px;
      }

      &--vk {
        width: 31px;
        height: 16px;
      }

      &--inst {
        width: 24px;
        height: 24px;
      }
    }

    &--footer {
      &--fb {
        width: 14px;
        height: 28px;
      }

      &--vk {
        width: 31px;
        height: 16px;
      }

      &--inst {
        width: 24px;
        height: 24px;
      }
    }
  }
}
