.traveler-list {
  list-style: none;
  padding: 0;

  &--catalog {
    .traveler-list__item {
      border-radius: 20px;
    }
  }
}

.traveler-list__item {
  margin-bottom: 10px;
  border-radius: 10px;
  overflow: hidden;
}

@media (min-width: $tablet-width) {
  .traveler-list {
    display: flex;
    //временно
    justify-content: flex-start;
    flex-wrap: wrap;

    &--main {
      //margin-left: -30px;

      .traveler-list__item {
        margin-left: 48px;
        border-radius: 20px;
      }
    }
  }
}
