.traveler-list {
  list-style: none;
  padding: 0;

  &--main {
    margin-bottom: 9px;
  }

  &--catalog {
    margin-bottom: 10px;

    .traveler-list__item {
      border-radius: 20px;
    }
  }
}

.traveler-list__item {
  margin-bottom: 10px;
  border-radius: 10px;
  overflow: hidden;
}
