.travel-modes {
  display: flex;
  padding: 0;
  list-style: none;

  &--main {
    //margin: 0 0 0 1px;
    .travel-modes__item {
      &--plane {
        margin: 0 17px 0 0;
      }

      &--bus {
        margin: 0 13px 0 0;
      }

      &--bike {
        margin: 0 10px 0 0;
      }

      &--run {
        margin: 0;
      }
    }
  }

  &--catalog {
    margin: 0 0 0 26px;

    .travel-modes__label {
      display: block;
      width: 32px;
      height: 32px;
      background-color: #edeff6;
      border-radius: 50%;
    }

    .travel-modes__img {
      position: absolute;
      margin: 0;

      &--plane {
        left: 8px;
        top: 8px;
        width: 14px;
        height: 16px;
      }

      &--bus {
        left: 10px;
        top: 8px;
        width: 13px;
        height: 16px;
      }

      &--bike {
        left: 7px;
        top: 7px;
        width: 19px;
        height: 17px;
      }

      &--run {
        left: 9px;
        top: 8px;
        width: 15px;
        height: 17px;
      }
    }
  }

  &--form {
    margin: 0;

    .travel-modes__label {
      width: 33px;
      height: 33px;
      border-radius: 50%;

      .travel-modes__checkbox:focus ~ .travel-modes__round,
      &:hover .travel-modes__round {
        z-index: 10;
        box-shadow: 0 2px 10px 0 fade_out(#000000, 1 - 0.08);
      }

      &:active .travel-modes__round {
        background-color: #e2e5f1;
        box-shadow: none;
      }

      .travel-modes__checkbox:focus ~ .travel-modes__img,
      &:hover .travel-modes__img {
        z-index: 11;
        fill: fade-out(#000000, 1 - 0.3);
      }

      &:active .travel-modes__img {
        z-index: 11;
        fill: fade-out(#000000, 1 - 0.1);
      }

      .travel-modes__checkbox:checked:focus ~ .travel-modes__img,
      &:hover .travel-modes__checkbox:checked ~ .travel-modes__img {
        fill: #101e44;
      }

      &:active .travel-modes__checkbox:checked ~ .travel-modes__img {
        fill: fade_out(#101e44, 1 - 0.3);
      }
    }

    .travel-modes__round {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: #ffffff;
      border-radius: 50%;
      transition: $duration;
    }

    .travel-modes__img {
      position: absolute;
      margin: 0;
      transition: $duration;

      &--plane {
        left: 8px;
        top: 8px;
        width: 14px;
        height: 16px;
      }

      &--bus {
        left: 10px;
        top: 8px;
        width: 13px;
        height: 16px;
      }

      &--bike {
        left: 7px;
        top: 7px;
        width: 19px;
        height: 17px;
      }

      &--run {
        left: 9px;
        top: 8px;
        width: 15px;
        height: 17px;
      }
    }
  }
}

.travel-modes__label {
  position: relative;
  display: block;
}

.travel-modes__checkbox:checked ~ .travel-modes__img {
  fill: #1d2e5b;
}

.travel-modes__img {
  display: block;
  fill: fade-out(#000000, 1 - 0.15);

  &--plane {
    width: 19px;
    height: 21px;
  }

  &--bus {
    width: 17px;
    height: 21px;
  }

  &--bike {
    width: 24px;
    height: 21px;
  }

  &--run {
    width: 20px;
    height: 21px;
  }
}

.travel-modes__text {
  @include visually-hidden;
}

.travel-modes__label:hover .travel-modes__text {
  @include visually-hidden-inactive;
  position: absolute;
  z-index: 1;
  left: 50%;
  bottom: -72px;
  transform: translateX(-50%);
  min-height: 57px;
  padding: 17px 21px 16px;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  text-transform: none;
  white-space: nowrap;
  text-align: center;
  color: #ffffff;
  background-color: #101d41;
  border-radius: 4px;

  &::before {
    content: "";
    position: absolute;
    left: calc(50% - 7px);
    top: -6px;
    width: 14px;
    height: 14px;
    background-color: #101d41;
    transform-origin: center center;
    transform: rotate(45deg);
    border-radius: 1.5px 0 0 0;
  }
}

@media (min-width: $tablet-width) {
  .travel-modes {
    &--catalog {
      flex-direction: column;
      margin: 0;

      .travel-modes__item {
        &--plane {
          margin: 0 0 11px 0;
        }

        &--bus {
          margin: 0 0 9px 3px;
        }

        &--bike {
          margin: 0 0 13px 0;
        }

        &--run {
          margin: 0 0 0 2px;
        }
      }

      .travel-modes__label {
        width: auto;
        height: auto;
        background-color: transparent;
      }

      .travel-modes__img {
        position: static;

        &--plane {
          width: 19px;
          height: 21px;
        }

        &--bus {
          width: 17px;
          height: 21px;
        }

        &--bike {
          width: 24px;
          height: 21px;
        }

        &--run {
          width: 20px;
          height: 21px;
        }
      }
    }

    &--form {
      margin: -1px 2px 0 0;

      .travel-modes__item {
        &:nth-child(n + 1) {
          margin: 0 8px 0 0;
        }

        &:last-child {
          margin: 0;
        }
      }

      .travel-modes__label {
        width: 43px;
        height: 43px;
      }

      .travel-modes__img {
        &--plane {
          left: 10px;
          top: 11px;
          width: 19px;
          height: 21px;
        }

        &--bus {
          left: 13px;
          top: 11px;
          width: 17px;
          height: 21px;
        }

        &--bike {
          left: 9px;
          top: 10px;
          width: 24px;
          height: 21px;
        }

        &--run {
          left: 11px;
          top: 11px;
          width: 20px;
          height: 21px;
        }
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .travel-modes {
    &--catalog {
      flex-direction: row;
      margin: 0;

      .travel-modes__item {
        &--plane {
          margin: 0 17px 0 0;
        }

        &--bus {
          margin: 0 13px 0 0;
        }

        &--bike {
          margin: 0 10px 0 0;
        }

        &--run {
          margin: 0;
        }
      }
    }

    &--form {
      margin: 0 0 1px 4px;

      .travel-modes__item:nth-child(n + 1) {
        margin: 0;
      }
    }
  }
}
