.traveler-list {
  list-style: none;
  padding: 0;

  &--catalog {
    .traveler-list__item {
      border-radius: 20px;
    }
  }
}

.traveler-list__item {
  margin-bottom: 10px;
  border-radius: 10px;
  overflow: hidden;
}
