.user-nav {
  color: #ffffff;
  background-color: #192144;
}

.user-nav__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: #ff8d30;
}

.user-nav__text {
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
}

.user-nav__authorization {
  color: #ffd74b;
}
