.user-list {
  list-style: none;
  padding: 0;
}

.user-list__item {
  display: flex;
  width: 100%;
}

.user-list__login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 7px 20px 3px;
}
