$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;
$duration: 0.3s;
$pi: 3.14159265359;
$header-mobile-min-height: 74px;
$header-tablet-min-height: 132px;
$header-desktop-min-height: 99px;
$header-desktop-scrolled-min-height: 90px;
